body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.form-group {
  flex: 1;
  margin-right: 40px; /* Increased space between the two form groups */
}

.heading {
  display: block;
  font-size: 36px; /* Inter Bold 36 */
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 22px; /* Inter Light 22 */
  font-weight: 300;
  background-color: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

.submit {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

button .arrow {
  display: inline-block;
  transform: rotate(-45deg);
  margin-top: -5px;
}
